@import url("https://fonts.googleapis.com/css2?family=Ruda:wght@900&display=swap");
:root {
  --dark-bg: #1d2737;
  --darker-light-bg: #0e558e;
  --light-bg: #0968ad;
  --white: #fcfcfc;
  --dark-white: #eeeeee;
  --accent-yellow: #fffb00;
  --dark-text: #333333;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue";
}

html {
  height: 140vh;
  font-size: 10px;
}

body {
  background-color: var(--light-bg);
}

body header {
  width: 100%;
  color: var(--white);
  border-bottom: 1px solid #7acef4;
  background-color: var(--dark-bg);
}

body header h1 {
  margin: 2rem 0;
  font-size: 4rem;
  font-family: "Ruda", sans-serif;
  font-weight: 900;
}

body #testui {
  width: 70rem;
  margin-top: 3.5rem;
  border-radius: 10px 10px 0 0;
  background-color: var(--white);
  -webkit-box-shadow: -3px 0 5px -3px #2b2a2a, 3px 0 5px -3px #302f2f;
          box-shadow: -3px 0 5px -3px #2b2a2a, 3px 0 5px -3px #302f2f;
}

body #testui #testui-header {
  width: 100%;
  border-radius: 10px 10px 0 0;
  border-right: 1px solid rgba(2, 2, 2, 0.28);
  border-left: 1px solid rgba(2, 2, 2, 0.28);
  border-top: 1px solid rgba(250, 250, 250, 0.27);
  border-bottom: 1px solid #333;
  -webkit-box-shadow: 0px 0px 5px #525252;
          box-shadow: 0px 0px 5px #525252;
  background-color: var(--darker-light-bg);
}

body #testui #testui-header h2 {
  width: 25%;
  padding: 1.5rem 0;
  margin-left: 4rem;
  color: var(--white);
  background-color: var(--darker-light-bg);
  font-size: 3rem;
  font-family: "Ruda", sans-serif;
  font-weight: 900;
}

body #testui h4 {
  margin: 5rem 0 3rem 0;
  font-size: 2rem;
  font-family: "Ruda", sans-serif;
  font-weight: 900;
}

body #testui form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  background-color: var(--dark-white);
}

body #testui form input,
body #testui form textarea {
  width: 100%;
  margin: 1rem 0;
  padding: 0.7rem 0.7rem;
  font-size: 1.5rem;
}

body #testui form input[type="submit"] {
  padding: 0.6rem 1.2rem;
  border: 1px solid #265e7d;
}

.replies {
  margin-left: 50px;
}

.reply {
  border: 1px dotted black;
  margin: 5px;
  padding: 5px;
}

.newReply {
  margin: 10px 5px 10px 5px;
}

.thread {
  border: 2px solid black;
  padding: 5px;
  margin-bottom: 5px;
}

.id {
  font-size: 10.5px;
}

#submitNewThread {
  margin: 50px;
}

/* Utilities */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */